/* .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 25%; 
} */
.teclatNumsContainer {
  background-color: beige;
  padding: 0.6rem;
}
.teclatNums {
  background-color: burlywood;
  margin-right: 0.5rem;
  min-width: 5rem;
  min-height: 5rem;
}
.teclatNumsFinal {
  display: flex;
  flex-direction: flex;
  background-color: burlywood;
  min-width: 10.5rem;
  min-height: 4rem;
  margin-right: 0.5rem;
}
.butonOperadors {
  display: flex;
  justify-content: space-evenly;
}
